<!--
  Generated template for the SingleMemberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ member.firstName }} {{ member.lastName }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
      <ion-list>
        <ion-item *ngIf="member.dateOfBirth">
          <ion-icon item-start name="calendar"></ion-icon>
          Geburtstag
          <ion-note item-end>{{member.dateOfBirth | date }};</ion-note>
        </ion-item>


        <ion-item *ngIf="member.phone1">
          <ion-icon item-start name="call"></ion-icon>
          Telefon
          <ion-note item-end>{{member.phone1}}</ion-note>
        </ion-item>

        <ion-item *ngIf="member.phone2">
          <ion-icon item-start name="call"></ion-icon>
          Telefon 2
          <ion-note item-end>{{member.phone2}}</ion-note>
        </ion-item>

        <ion-item *ngIf="member.phone3">
          <ion-icon item-start name="call"></ion-icon>
          Telefon 3
          <ion-note item-end>{{member.phone3}}</ion-note>
        </ion-item>

        <ion-item *ngIf="member.gender">
          <ion-icon item-start name="male" *ngIf="member.gender == 'männlich'"></ion-icon>
          <ion-icon item-start name="female" *ngIf="member.gender == 'weiblich'"></ion-icon>
          Geschlecht
          <ion-note item-end>{{member.gender}}</ion-note>
        </ion-item>

        <ion-item *ngIf="member.email">
          <ion-icon item-start name="mail"></ion-icon>
          Email
          <ion-note item-end><a href="mailto:{{member.email}}">{{member.email}}</a></ion-note>
        </ion-item>

        <ion-item *ngIf="member.legalRepresentiveEmail">
          <ion-icon item-start name="mail"></ion-icon>
          Email Vertretungsberechtigter:
          <ion-note item-end><a href="mailto:{{member.legalRepresentiveEmail}}">{{member.legalRepresentiveEmail}}</a></ion-note>
        </ion-item>

        <ion-item *ngIf="member.entryDate">
          <ion-icon item-start name="calendar"></ion-icon>
          Eintrittsdatum
          <ion-note item-end>{{member.entryDate | date }}</ion-note>
        </ion-item>

      </ion-list>

      <ion-grid> 
        <ion-row>
          <ion-col *ngIf="member.email">
            <a href="mailto:{{member.email}}">
              <button ion-button outline block icon-left>
                <ion-icon name="mail"></ion-icon>
                Mail senden</button>
            </a>
          </ion-col>
          <ion-col *ngIf="member.phone1">
            <a href="tel:{{member.phone1}}">
              <button ion-button outline block icon-left>
                <ion-icon name="call"></ion-icon>
                Anrufen</button>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
