<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Nami
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="onLoadItems($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let group of groups" >
    <ion-card-content>
      <ion-card-title>
        {{group.name}}
      </ion-card-title>
      <p>
        {{group.parentGroupName}}
      </p>
      <p>
        Anzahl Mitglieder: {{group.members.length}}
      </p>
      <p>
        Gruppierungsnummer: {{group.groupNumber}}
      </p>
      
      <p>
        <a href="{{group.website}}">{{group.website}}</a>
      </p>
      <ion-row>
        <ion-col>
          <button ion-button block (click)="selectGroup(group)">
            Zur Mitgliederliste
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>



  <ion-grid>
    <ion-row  *ngIf="groups.length == 0">
      <ion-col text-center>
        No Groups found, slide down to load groups!
      </ion-col>
    </ion-row>
    <ion-row *ngIf="groups.length > 0">
      <ion-col>
        <button ion-button (click)="onDeleteItems()" block color="danger">
          Remove all local data
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
